<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VueJS Tutorials</title>
    <link href="styles.css" ref="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <!-- <h1>{{ greet('afternoon') }}</h1>
      <h1>Name: {{name}}</h1>
      <h1>job: {{job}}</h1> -->

      <h1>Data Binding</h1>
      <!-- v-bind를 통해서 동적으로 다른 속성 값에 대입 할수있다. -->
      <a v-bind:href="website">The Net Ninja</a>
      <input type="text" v-bind:value="name" />

      <!-- String으로 생성될것이다 -->
      {{websiteTag}}

      <!-- script 동적바인딩  -->
      <p v-html="websiteTag"></p>
    </div>

    <div id="vue-app2">
      <h1>Events</h1>
      <!-- v-on은 @으로 치환가능 하다.. 그러나 소스 구조상 제대로 표기하는게 좋을듯 -->
      <button v-on:click="add(1)">Add a year</button>
      <button v-on:click="subtract(1)">Subtract a year</button>
      <button v-on:dblclick="add(10)">Add ten year</button>
      <button v-on:dblclick="subtract(10)">Subtract ten year</button>
      <p>My age is {{age}}</p>

    <div id="canvas" v-on:mousemove="updateXY">{{x}} , {{y}}</div>
    <!-- <a v-on:click.prevent:"click" href="http://www.thenetninja.co.uk">The net ninja</a> -->
  </div>

  <div id="vue-app3">
      <!-- key ,mouse 등 event에 대한 설명은 w3school에서 확인 !? -->
      <h1>Keyboard Events</h1>
      <!-- <label>Name:</label>
      <input type="text" v-on:keyup.enter="logName">
      <label>Age:</label>
      <input type="text" v-on:keyup.enter="logAge"> -->

      <!-- v-model을 통해서 data객체에 바로접근하여 데이터 셋팅이 가능하다 -->
      <label>Name:</label>
      <input type="text" v-model="name"/>
      <span>{{name}}</span>
      <label>Age:</label>
      <input type="text" v-model="age"/>
      <span>{{age}}</span>
  </div>


  <div id="vue-app4">
    <h1>Computed Properties</h1>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p> A - {{a}}</P>
    <p> B - {{b}}</P>
    <p> Age - {{age}}</P>
    <p> Age + A = {{ addToA }}</P>
    <p> Age + B = {{ addToB }}</P>
  </div>

  <div id="vue-app5">
    <h1>Dynamic CSS</h1>
    <h2>Example 1</h2>
    <div v-on:click="available = !available" v-bind:class="{available: available}">
      <span>Ryu</span>
    </div>
    <h2>Example 2</h2>
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <button v-on:click="available = !available">Toggle available</button>

    <div v-bind:class="compClasses">
      <span>kyo</span>
    </div>
  </div>

  <div id="vue-app6">
     <h1>Conditionals</h1>
     <button v-on:click="error = !error">Toggle Error</button>
     <button v-on:click="success = !success">Toggle Success</button>
     <!-- <p v-if="error">There has been an error</p>
     <p v-else-if="success">Whhoooooo~~~</p> -->
     <p v-show="error">There has been an error</p>
     <p v-show="success">whooo~~~~~~~</p>

  </div>

<!-- for가 잘안된다... ~~ 오오오 -->
  <div id="vue-app7">
     <h1>Looping through lists</h1>
     <ul>
       <li v-for:"character in characters">{{character}}</li>
     </ul>
     <ul>
       <li v-for:"ninja in ninjas">{{ninja}}</li>
     </ul>

     <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
          <p>{{key}} - {{val}}</p>
        </div>
     </template>
  </div>









    <script src="app.js"></script>
  </body>
</html>
